
# SOPS/age local keys (never commit private keys)
*.agekey
**/keys.txt

# kube/helm local files
*.log
.DS_Store


# legacy folder (replaced by traefik/routes)
clusters/homelab/infrastructure/traefik-lan-proxy/
