apiVersion: apps/v1
kind: Deployment
metadata:
  name: yt-cipher
  namespace: vocard
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: yt-cipher
  template:
    metadata:
      labels:
        app: yt-cipher
    spec:
      initContainers:
        - name: wait-db
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z vocard-db 27017; do echo waiting for mongo; sleep 2; done"]
      containers:
        - name: yt-cipher
          image: ghcr.io/kikkia/yt-cipher:master # {"$imagepolicy": "flux-system:yt-cipher"}
          ports:
            - containerPort: 8001
---
apiVersion: v1
kind: Service
metadata:
  name: yt-cipher
  namespace: vocard
spec:
  selector:
    app: yt-cipher
  ports:
    - port: 8001
      targetPort: 8001
